html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #70c097;
}

.title{
  color: #fff;
  font-family: 'Nunito', sans-serif;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.box{
  height: 600px;
  width: 100%;
  overflow: auto;
  border: 0.0625rem solid;
  color: #fff;
}

.button-style{
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 16rem;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  transition: ease-in-out 0.2s; 
}

.button-style:hover {
  transform: scale(1.1);
}

.back-Button{
  height: 7.5rem;
  margin-top: 1rem;
  margin-left: -15rem;
  transition: ease-in-out 0.2s;
}

.back-Button:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) { 
  .button-style{
    width: 17rem;
  }
}

@media(min-width: 992px){
  .button-style{
    width: 25rem;
  }

  .back-Button{
    height: 7.5rem;
    margin-top: 4rem;
    margin-left: 10rem;
  }
}

.title {
  text-align: center;
  text-transform: capitalize;

}

.flip-container {
  perspective: 1000;
  margin: 10px;
  float: left;
  cursor: pointer;
  /*  &:hover{
    .flippable {
      transform: rotateY(180deg);
    }
  }*/
}
.flip-container .flippable {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}
.flip-container .flipme {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  width: 300px;
  height: 223px;
  line-height: 190px;
  font-size: 40px;
  border-radius: 25px;
  text-transform: capitalize;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 15px;
}
.front {
  z-index: 2;
  color: #000000;
}
.front span {
  font-size: 20px;
  position: absolute;
  top: 0px;
  left: 42.5px;
  font-family: verdana;
}
.back {
  transform: rotateY(180deg);
  font-size: 18px;
  border: 1px solid;
  font-family: Verdana;
  color: white;
}
.ac-bicycle .front {
  background: #fff;
}
.ac-bicycle .back {
  background: #efb509;
  border-color: #fff;
}

.border .front {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin: 50px auto;
  border: solid;
}







