html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #70c097;
}

.title {
  color: #fff;
  font-family: 'Nunito', sans-serif;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.box {
  height: 600px;
  width: 100%;
  overflow: auto;
  border: 0.0625rem solid;
  color: #fff;
}

/* Topic Buttons */
.button-style {
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 18rem;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  transition: ease-in-out 0.2s; 
  text-transform: capitalize;
}

.button-style:hover {
  transform: scale(1.1);
}

/* Back Button */
.back-Button {
  height: 7.5rem;
  margin-top: 1rem;
  margin-left: -15rem;
  transition: ease-in-out 0.2s;
  filter: invert(100%);
}

.back-Button:hover {
  transform: scale(1.1);
}

/* Modal Text */
.headers {
  text-align: center;
  color: #70c097;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 1rem;
  font-size: 1rem;
}


.modal-content {
  border-radius: 2.3rem;
}

.modalButtons {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin: 0 auto;
  width: 33%;
  font-family: 'Nunito', sans-serif;
  font-size: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 3rem;
}

.modalButtons:hover {
  background: #efb509;
}

.active {
  background: #efb509 !important;
}

.startButton {
  width: 33%;
  background-color: #70c097;
  color: #fff;
  margin-left: 6rem;
  margin-right: 6rem;
  border-radius: .5rem;
  font-size: 0.9rem;
}

/* Close Modal Button */
.close {
  color: #ff0000;
  border-color: #000;
  margin-left: 20rem;
  margin-right: 1.2rem;
  font-size: 4rem;
  text-shadow: 0.1rem 0 black, 0 0.1rem #000, 0.1rem 0 #000, 0 0.1rem #000
}

.score {
  background: #86E7B4;
  width: 100%;
  height: 100px;
  border-radius: 15px;
  margin-top: 30px;
}

.score span {
  font-size: 24px;
  line-height: 100px;
}

.lightgreenbox {
  background-color: #84E7B4;
  margin-top: 5rem;
  padding: 4rem;
  border-radius: 45px;
  font-size: 1.25rem;
  line-height: 3rem;
}

.fontchanges {
  color: #fff;
  margin-top: 5rem;
}

.underline {
  text-decoration-line: underline;
}

.yellowbtn {
  background-color: #FFD85D;
  border-radius: 10px;
  color: #fff;
}

.slim {
  font-weight: 400;
}

.flashcard-buttons {
  position: relative;
  margin-top: 100px;
}

.flashcard-buttons .correct {
  float: left;
  height: 80px;
}

.flashcard-buttons .incorrect {
  float: right;
  height: 80px;
}

.continue {
  position: relative;
  margin-top: 100px;
}

.continue .play {
  float: left;
  height: 80px;
}

.continue .choose {
  float: right;
  height: 80px;
}

.title {
  text-align: center;
  text-transform: capitalize;
}

.flip-container .flippable {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-container .flipme {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 100%;
  height: 223px;
  line-height: 190px;
  font-size: 40px;
  border-radius: 25px;
  text-transform: capitalize;
}

.front, .back {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  color: #000000;
}

.front span {
  font-size: 20px;
}

.back {
  transform: rotateY(180deg);
  font-size: 18px;
  border: 1px solid;
  font-family: Verdana;
  color: white;
}

.ac-bicycle .front {
  background: #fff;
}

.ac-bicycle .back {
  background: #efb509;
  border-color: #fff;
}

.border .front {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin: 50px auto;
  border: solid;
}

 /* Scroll Bar */

 /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E0E0E0;
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}

/* Media Queries */
@media (min-width: 768px) {
  .button-style {
    width: 17rem;
  }

  .lightgreenbox {
    padding: 3.5rem;
  }

  .startButton {
    margin-left: 9.5rem;
    margin-right: 9.5rem;
    font-size: 1.25rem;
  }
}

@media(min-width: 992px) {
  .button-style {
    width: 25rem;
  }

  .back-Button {
    height: 7.5rem;
    margin-top: 4rem;
    margin-left: 10rem;
  }

  .headers {
  font-size: 1.25rem;   
  }

  .modalButtons {
  font-size: 1.25rem;
  }

  .startButton {
    margin-left: 9.5rem;
    margin-right: 9.5rem;
    font-size: 1.25rem;
  }

  .lightgreenbox {
    padding: 5rem;
  }

  .yellowbtn {
    padding: .8rem;
    font-size: 1.75rem;
  }
}

 /* Scroll Bar */

 /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E0E0E0;
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}
